@model Insurance.Data.Client

@{
    ViewBag.Title = "Details";
    List<Insurance.Data.ClientPolicy> clientPolicies = ViewBag.Policy;
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            N° de póliza
        </th>
        <th>
            Fecha de inicio
        </th>
        <th>
           Fecha de fin
        </th>
        <th></th>
    </tr>

    @foreach (var item in clientPolicies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","ClientPolicies", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", "ClientPolicies", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", "ClientPolicies", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
